header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 20px 40px;
  background-color: #000000; 
  color: #fff;
  position: sticky; 
  top: 0;
  z-index: 1000;
}

header .logo {
  font-size: 1.8rem;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #f5f5f5;
}

header .navbar ul {
  list-style: none;
  display: flex;
  gap: 25px; 
  margin: 0;
  padding: 0;
}

header .navbar ul li a {
  text-decoration: none;
  color: #f5f5f5;
  font-weight: 500;
  transition: color 0.3s;
}

header .navbar ul li a:hover {
  color:darkslategray; /
}

header .menu-btn {
  display: none; 
  font-size: 2rem;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  header {
    padding: 15px 20px;
  }

  header .navbar ul {
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: -100%; 
    background-color: #111;
    width: 200px;
    transition: right 0.3s;
    padding: 20px;
    border-radius: 5px;
  }

  header .navbar ul.show {
    right: 20px; 
  }

  header .menu-btn {
    display: block; 
  }
}
