header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #000;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

header .logo {
  font-size: 1.8rem;
  font-weight: bolder;
  letter-spacing: 1px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.navbar ul li a {
  text-decoration: none;
  color: #f5f5f5;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar ul li a:hover {
  color: darkslategray;
}

.menu-btn {
  display: none;
  font-size: 2.2rem;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}

/* MOBILE MENU */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .navbar ul {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background: #111;

    max-height: 0;
    overflow: hidden;

    padding: 0;
    opacity: 0;

    transition: max-height 0.4s ease, padding 0.3s ease, opacity 0.3s ease;
  }

  #menu-toggle:checked ~ .navbar ul {
    max-height: 500px;
    padding: 20px;
    opacity: 1;
  }

  .navbar ul li {
    padding: 12px 0;
    text-align: center;
  }
}
