.hero {
  position: relative;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 0 20px;
  background: url("../images/gunstore.jpg") center center / cover no-repeat;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero h1,
.hero p,
.hero .hero-btn {
  position: relative;
  z-index: 2;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  max-width: 600px;
  margin-bottom: 30px;
}

.hero .hero-btn {
  padding: 12px 30px;
  font-size: 1.1rem;
  color: #fff;
  background-color: darkslategray;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}

.hero .hero-btn:hover {
  background-color: rgb(26, 43, 43);
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }
  .hero p {
    font-size: 1rem;
  }
  .hero .hero-btn {
    padding: 10px 20px;
    font-size: 1rem;
  }
}
